.header {
  // padding-top: 24px;
  // padding-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
  @include tab {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  @include tab {
    margin-right: 88px;
  }
  @include desk {
    margin-right: 93px;
  }
}

.site-nav {
  display: none;
  @include tab {
    display: block;
  }
}

.site-list {
  margin-right: auto;
  display: flex;
}

.site-list__item {
  display: flex;
}

.site-list__item:not(:last-child),
.header-mail {
  margin-right: 50px;
}

.header-mail {
  @include tab {
    margin-bottom: 10px;
    display: block;
  }
  @include desk {
    margin-bottom: 0;
  }
}

.header-mail {
  @include tab {
    display: block;
  }
}

.site-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--titles-color);
  transition: color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: var(
      --accent-color
    );
    bottom: -32px;
    left: 0;
    border-radius: 2px;
  }
}

.header-contacts {
  display: none;
  @include tab {
    box-sizing: content-box;
    margin-left: auto;
    display: block;
  }
  @include desk {
    display: flex;
    flex-direction: row;
  }
}

.header-contacts__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  transition: color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-mail__icon {
  fill: currentColor;
  margin-right: 11px;
}

.header-tel__icon {
  fill: currentColor;
  margin-right: 10.5px;
}

// -----------------------MOB-MENU

.mob-menu {
  position: fixed;
  background: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 48px 40px;
  @include tab {
    display: none;
  }
}

.menu-open-btn {
  margin-left: auto;
  border: none;
  background: none;
  &:hover {
    fill: var(--accent-color);
  }

  @include tab {
    display: none;
  }
}

.mob-menu-close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 0;
  border: none;
  background: none;
  &:hover {
    fill: var(--accent-color);
  }
}

.current-page {
  color: var(--accent-color);
}

.menu-list__item {
  margin-bottom: 32px;
}

.menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--titles-color);
}

.menu-container {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  display: block;
  margin-bottom: 32px;
}

.menu-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-social {
  margin-top: 64px;
}

.menu-social-list {
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
}

.menu-social__item:not(:last-child)::after {
  content: "";
  width: 22px;
  height: 0px;
  border: 1px solid
    rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-right: 10px;
  margin-left: 10px;
}
