.portfolio-content {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  @include bef-tab {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  @include tab {
    margin-bottom: 30px;
  }
  @include desk {
    margin-bottom: 50px;
  }
}

.buttons-item:not(:last-child) {
  margin-right: 8px;
}

.btn-item {
  display: inline-block;
  background: #f5f4fa;
  border: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-color);
  padding: 6px 22px;
  border-radius: 4px;
  transition: background 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #ffffff;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px
        rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  @include bef-tab {
    margin-bottom: 15px;
  }
}
