.cards-container {
  align-content: center;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.card {
  margin: 15px;
  box-sizing: border-box;
  width: 370px;
}

.card-link {
  display: block;
  transition: box-shadow 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px
        rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card-pic-container {
  position: relative;
  overflow: hidden;
}

.products-pic {
  display: block;
}

.product-hover-text {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  overflow: auto;
  .card-link:hover & {
    transform: translateY(0);
  }
}

.card-description {
  margin-top: 0;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.products-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titles-color);
}

.products-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
