.skills {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.skills-list {
  @include tab {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  @include desk {
    display: flex;
    flex-wrap: nowrap;
  }
}

.skills__item {
  @include bef-tab {
    margin-bottom: 30px;
  }
  @include tab {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

.skills-icon-box {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titles-color);
  margin-bottom: 10px;
  @include bef-tab {
    display: flex;
    justify-content: center;
  }
}

.skills__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
